* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(38, 51, 97, 1) 0%,
    rgba(65, 143, 222, 1) 79%
  );
}
.box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: white;
}

.wrapper {
  width: 450px;
  padding-bottom: 50px;
}

.heading h1 {
  font-size: 1.5rem;
  color: #181616ec;
}

input {
  font-size: 1rem;
  color: #111;
  padding: 5px;
  padding-left: 1rem;
  border-radius: 5px;
  border: 1px solid #00b5e7;
}

.input-container {
  width: 60%;
  margin: 0 auto;
}

label {
  font-size: 0.8rem;
  margin-bottom: 3px;
}

::placeholder {
  font-size: 0.8rem;
  color: #00b5e7;
}

.switch {
  width: 2rem;
  border-radius: 30px;
  background: #00b5e7;
  height: 1rem;
  margin-right: 9px;
  position: relative;
  cursor: pointer;
}

.switch-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  height: 0.7rem;
  width: 0.7rem;
  background: #273767;
  border-radius: 50%;
  transition: 500ms;
}

.agree-box p {
  font-size: 0.7rem;
}

button {
  background: #00b5e7;
}

.agree-box span {
  color: #00b5e7;
  cursor: pointer;
}

.login-btn {
  background: none;
  border: 1px solid #00b5e7;
  transition: 500ms;
  width: 260px;
  margin: 0 auto;
  display: block;
}

.login-btn:hover {
  background: #00b5e7;
  border: none;
  color: white;
}

.website-details {
  background: rgba(197, 197, 197, 0.791);
  height: 685px;
  width: 700px;
}

a {
    text-decoration: none;
}
