* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 0, 0, .85), rgba(0, 0, 0, .875)), url("backround image url")
}
.wrapper {
  height: 600px;
  width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
}

.heading {
  color: rgba(72, 51, 51, 0.881);
  font-weight: 700;
}

.log-in-box {
  margin: 0 auto;
  width: 300px;
}

form input {
  padding: 8px 10px;
  font-size: 0.9rem;
  outline: none;
  border: 1px solid #439FFF;
  border-radius: 4px;
}

form input:focus {
  background-color: rgba(245, 237, 237, 0.407);
}

button {
  background-color: #3172b8;
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 5px;
  color: rgba(235, 230, 230, 0.912);
}

.google-btn img {
  width: 22px;
  height: 22px;
  margin-right: 15px;
}

.google-btn {
  width: 300px;
  margin: 0 auto;
}


@media screen and (max-width: 500px) {
  .wrapper {
    width: 420px;
    height: 550px;
  }
}